<!DOCTYPE html>
<html>
<head>
    <title>Edit Menu Item</title>
</head>
<body>
    <h1>Edit Menu Item</h1>

    <form action="#" method="post">
        <label>Name: </label>
        <input type="text" name="name" placeholder={{item.name}}>

        <label>Price: </label>
        <input type="text" name="price" placeholder={{item.price}}>

        <label>Description: </label>
        <input type="text" name="description" placeholder={{item.description}}>

        <label>Course: </label>
        <input type="text" name="course" placeholder={{item.course}}>

        <input type="submit" value="Submit">
    </form>
</body>
</html>